terraform {
  backend "azurerm" {
    resource_group_name  = "<tfstate-resource-group-name>"
    storage_account_name = "<tfstate-storage-account-name>"
    container_name       = "tfstate"
    key                  = "core.dev.tfstate"

    use_azuread_auth = true
  }
}