project_name           = "devsecops-container"
environment            = "dev"
location               = "germanywestcentral"
region_code            = "gwc"
owner                  = "karim-el-atfy"
storage_account_prefix = "sttfdsops"
state_container_name   = "tfstate"